@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-bg text-text-main font-sans antialiased selection:bg-primary selection:text-white;
}

/* Custom utility for glassmorphism */
.glass-panel {
  @apply bg-dark-card/60 backdrop-blur-md border border-dark-border shadow-card rounded-xl;
}
